.table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px; 
}

.table tbody tr td:first-child {
  font-weight: 10px; 
}
  
.table th {
  background-color: #49b58c;
  border: 1px solid rgb(193, 255, 231); 
  padding: 8px; 
  text-align: left; 
}
  
.table td {
  border: 1px solid #49b58c; 
  padding: 8px; 
}
  
.table tbody tr:nth-child(even) {
  background-color: #9fecc5; 
}
  
.table tbody tr td:first-child {
  font-weight:normal; 
}
  